<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>azdb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>source</servlet-name>
    <servlet-class>com.azprogrammer.mappings.web.Source</servlet-class>
  </servlet>
	  <servlet>
	  	<description>
	  	TestServlet</description>
	  	<display-name>
	  	TestServlet</display-name>
	  	<servlet-name>TestServlet</servlet-name>
	  	<servlet-class>
	  	com.azprogrammer.db.web.TestServlet</servlet-class>
	  	<init-param>
	  		<description>
	  		this is just a test</description>
	  		<param-name>testI nitParm</param-name>
	  		<param-value>testValue</param-value>
	  	</init-param>
	  </servlet>
  <servlet-mapping>
    <servlet-name>source</servlet-name>
    <url-pattern>/source</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>